.main__title {
  font: 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  padding-left: 4px;
  margin-bottom: 34px;
}

.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  font: 22px/26px robotoregular, arial, helvetica, sans-serif;
  margin: 0 0 41px 0;
  width: 455px;
  padding-left: 4px;
}

.main {
  height: 100%;
  padding: 150px 60% 170px 0;
  background: top right no-repeat url(img/mainimg.svg);
  background-position: right 0.8% bottom 21%;
  background-size: 50% auto;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 48px;
  font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  width: 146px;
  height: 32px;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 4px;
  top: 48%;
  transform: translateY(-50%);
  background: #0056ec;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 12px;
  top: 55%;
  background: #c8dbfb;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 99.1539%;
}

.menu {
  display: flex;
  align-items: center;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
  width: 377px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
  left: 5px;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,
.menu__item_active:after {
  opacity: 1;
}

.main__button {
  font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 14px 16px 14px 20px;
  text-decoration: none;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 235px;
  height: 30px;
  margin-left: 5px;
}

.main__button:hover {
  opacity: 0.5;
}
