body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 99.1539%;
}

.header__burger {
  display: none;
}

.logo {
  position: relative;
  padding: 3.75vh 23.5vw 0 2.52vw;
  font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
  width: 70%;
  height: 100%;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0.28vw;
  top: 77%;
  transform: translateY(-50%);
  background: #0056ec;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 0.67vw;
  top: 87%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
  width: 40%;
  padding: 4.4vh 0 0.2vh 0;
}

.menu__item {
  position: relative;
  margin-right: 1.3vw;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  top: 2vh;
}

.menu__item:last-child {
  margin-right: 0;
}

/* .menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #0056ec;
} */

/* .menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
} */

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,
.menu__item_active:after {
  opacity: 1;
}

.main {
  height: 100%;
  padding: 17.75vh 50vw 15.8vh 0;
  background: top right no-repeat url(img/mainimg.svg);
  background-position: right 0.7% bottom 16.5%;
  background-size: 50% auto;
}

.main__title {
  font: 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  padding-left: 0.22vw;
  margin-bottom: 1.75vw;
}

.main__title-text_highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  font: 22px/26px robotoregular, arial, helvetica, sans-serif;
  margin: 0 0 3.9vh 0;
  width: 75%;
  padding-left: 0.2vw;
}

.main__button {
  font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding: 14px 16px 14px 20px;
  text-decoration: none;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 12.23vw;
  height: 2.69vh;
  margin-left: 0.25vw;
}

.main__button:hover {
  opacity: 0.5;
}

@media (max-width: 1366px) {
  .header {
    margin-bottom: 5.8vh;
  }

  .logo {
    left: 12vh;
    top: 1.4vh;
    margin-right: 2.6vw;
    padding-right: 0;
  }

  .logo__circle {
    top: 49%;
    transform: translateX(-49%);
  }

  .logo__circle_color_blue {
    left: 0.9vw;
    top: 61%;
    background: #c8dbfb;
  }

  .menu {
    font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
    padding: 6.7vh 2.7vw 0 0;
  }

  .menu__item {
    margin-right: 1.9vw;
  }

  .menu__item_active::after {
    height: 2px;
    margin-top: 0.1vh;
  }

  .main {
    height: 100%;
    padding: 7.7vh 40.5vw 10vh 5.85vw;
    background-position: right 14.1% bottom 17.9%;
    background-size: 47% auto;
  }

  .main__title {
    font: 50px/66px pt_serifbold, arial, helvetica, sans-serif;
    line-height: 131%;
    padding-left: 0.1vw;
    margin-bottom: 4.4vh;
  }

  .main__subtitle {
    font: 18px/21px robotobold, arial, helvetica, sans-serif;
    width: 78%;
    padding: 0.7vh 0 0 0.11vw;
    margin-bottom: 5.5vh;
  }

  .main__button {
    font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
    letter-spacing: 0.1px;
    width: 38%;
    height: 50%;
    padding: 14px 19px 14px 16px;
    margin: 0 0 0 0.15vw;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }

  .logo {
    left: 6.3vw;
    margin-right: 2.1vw;
  }

  .logo__circle {
    top: 49%;
    transform: translateX(-75%);
  }

  .logo__circle_color_blue {
    left: 1vw;
    top: 61%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.1vh;
  }

  .menu {
    font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
    padding: 6.65vh 0 0.5vh 0;
  }

  .menu__item {
    margin-right: 2.54vw;
  }

  .menu__item_active::after {
    height: 2px;
    margin-top: 0.2vh;
  }

  .main {
    height: 100%;
    padding: 5vh 40.5vw 10vh 1vw;
    background-position: right 9.26% bottom 23%;
    background-size: 50.2% auto;
  }

  .main__title {
    font: 50px/66px pt_serifbold, arial, helvetica, sans-serif;
    line-height: 131%;
    padding-left: 3.45vw;
    margin-bottom: 4.4vh;
  }

  .main__subtitle {
    font: 18px/21px robotobold, arial, helvetica, sans-serif;
    width: 65%;
    padding: 0.7vh 0 0 3.5vw;
  }

  .main__button {
    font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
    letter-spacing: 0.1px;
    width: 29%;
    margin-left: 3.5vw;
  }
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 6.7vh;
  }

  .logo {
    padding: 1.6vh 0 0.22vh 0;
    display: flex;
    margin: 0 5.5vw;
  }

  .logo__circle {
    top: 36%;
    transform: translateX(-75%);
  }

  .logo__circle_color_blue {
    left: 2.2vw;
    top: 53%;
  }

  .text-logo {
    display: none;
  }

  .main {
    text-align: center;
    padding: 63.4% 7.4% 21% 0;
    background-size: 75.1%;
    background-position: right 49.5% bottom 99.99%;
  }

  .main__title {
    margin-bottom: 4.2vh;
    margin-left: 6vw;
    font: 30px/40px pt_serifbold, arial, helvetica, sans-serif;
    line-height: 132%;
  }

  .main__subtitle {
    margin-bottom: 3.6vh;
    font: 500 16px/19px robotobold, arial, helvetica, sans-serif;
    width: 70%;
    padding: 0.7vh 0 0.2vh 18.6vw;
    line-height: 123%;
  }

  .main__button {
    font: 500 14px/16px robotoregular, arial, helvetica, sans-serif;
    width: 50.2%;
    margin-left: 22.4vw;
  }

  .header__list {
    display: block;
    position: relative;
    text-align: center;
    padding-right: 5vw;
  }

  .header__list li {
    list-style: none;
    margin: 0 0 5vh 0;
  }

  .header__link {
    color: #000;
    font: 30px/35px robotobold, arial, helvetica, sans-serif;
    text-decoration: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 17px;
    left: 75.2vw;
    margin-top: 1.8vh;
    z-index: 3;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
  }

  .header__burger span {
    position: absolute;
    background-color: #0056ec;
    width: 100%;
    height: 3px;
    left: 0;
    top: 7px;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #0056ec;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .header__burger:before {
    top: 0;
    z-index: 3;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40vh 0 0 0;
  }

  .menu {
    display: none;
  }
}
